# Dependencias Node.js
node_modules/
npm-debug.log*

# Compilados de Maven / Java
target/
backend/target/
microservicio-jpa/target/
*.class
*.jar
*.war

# Salidas de compilación Frontend
dist/
build/

# Archivos de entorno y variables locales
.env
.env.local

# Archivos de IDE y Editores de Código
.idea/
.vscode/
.DS_Store

# Archivos de logs y temporales
*.log
uploads/
test.json
